<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
      <ul class="nav-menu">
        <li class="nav-item nav-item-brand">
          <img src="/images/TB-Logo.png"/>
        </li>
      </ul>
    </nav>
    <div class="nav-accent"></div>
    <div class="main-content">
      {{{body}}}
    </div>
  </body>
</html>
